.App {
    text-align: center;
}

.App-body {
    background: url('../../assets/background.svg');
    background-size: cover;
}

.App-body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    color: white;
}

.scroll-container {
    padding: 10px;
}
