.component-search-input {
    display: flex;
}
.component-search-input input {
    height: 50px;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    color: #5b606b;
}

.component-search-input input:focus {
  outline-color: transparent;
  outline-style: none;
}
